/* Playwrite USA Modern */

@import url("https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Margarine&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
}
.btn {
  padding: 14px 20px 18px 20px;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: rgb(82, 195, 3);
  border: none;
  cursor: pointer;
}
.btn-container {
  text-align: center;
}

#hero {
  /* height: 506px;*/
  height: 1087px;
  /* width: 100%; */
  background-image: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url("../asset/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero .hero-content {
  width: 904px;
}
#hero .hero-content .subtitle {
  color: rgb(255, 255, 255);
  font-family: "Ga Maamli";
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 16px;
}

#hero .hero-content .title {
  color: rgb(255, 255, 255);
  font-family: "Ga Maamli";
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}

#hero .hero-content .para {
  color: rgb(255, 255, 255);
  font-family: "Margarine", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 32px;
}

#card-box {
  width: 1200px;
  margin: 100px auto;
  display: flex;
}

#card-box .info {
  margin: 167px;
  /* display: flex; */
}
#card-box .title {
  color: rgb(16, 16, 16);
  font-family: "Margarine", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
}

#card-box .subtitle {
  color: rgb(16, 16, 16);
  font-family: "Margarine", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.6;
}

.card-container {
  margin-top: 0px;
  display: flex;
}
.mas {
  display: flex;
  gap: 20px;
}

.card {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.card .image-box {
  width: 350px;
}
.card .image-box img {
  width: 100%;
}
.card .shop {
  padding: 14px 32px 14px 32px;
  border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
}

#main-container img {
  width: 880px;
}
#main-container {
  display: flex;
}

#main-container .paras {
  margin-top: 130px;
  margin-left: 40px;
  text-align: center;
  justify-content: center;
}

#main-container .heading {
  color: rgb(16, 16, 16);
  font-family: "work Sans";
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  
}
#main-container .paragraph {
  opacity: 0.6;
  color: rgb(16, 16, 16);
  font-family: "work Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0%;
  text-align: center;
}
#main-container .follow {
  color: rgb(16, 16, 16);
  font-family: "work Sans";
  font-size: 32px;
  font-weight: 550;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  padding: 30px 10px 30px 10px;
}
#main-container .icons{
  margin: 2px;
  font-size: 30px;
  /* white-space: 30px; */
}